.container {

}
.btn{
    background-color: black;
    color: white;
    margin: 1em;
    padding: 1em;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em 1em 0;
    align-items: end;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 4em;
}
.depart{
    display: flex;
    flex-direction: column;
}
.fItem{
    padding: 1em;
}
.social{
    display: flex;
    flex-direction: row;
}
.author{

}
.backToHome {
    margin: 3em;

}
